<!DOCTYPE html>
<html>
<head>
    <title>Tech With Adelle</title>
    {% load static %}
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'app/content/site.css' %}" />
    <script src="https://kit.fontawesome.com/e893473805.js" crossorigin="anonymous"></script>
    <noscript><link rel="stylesheet" href="{% static 'app/content/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <!-- Footer -->
        <footer id="footer">
            <p>Tech With Adelle</p>
        </footer>
    </div>

    <!-- Scripts -->
    
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/browser.min.js' %}"></script>
    <script src="{% static 'app/scripts/breakpoints.min.js' %}"></script>
    <script src="{% static 'app/scripts/util.js' %}"></script>
    <script src="{% static 'app/scripts/main.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
